@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

/*global css properties*/
:root {
  --lick-pink: #FFC7C8;
  --lick-blue: #7EEAFF;
  --cream: #FFFDD0;
  --white: #FFFFFF;
  --black: #000000;
  --button-shadow: #afafaffa;
  --font-size: 1.3rem;
  --inter: "inter";
}

/*setting border box model and other global elements*/
html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  font-family: var(--inter);
  color: var(--white);
  background-color: var(--cream);
  font-size: var(--font-size);
}

h1,h2,h3{
  margin: 0;
}

/*screen title styling*/
.screen-title-container {
  display: inline-block;
  text-align: center;
}

.screen-title-container h1 {
  display: block;
  color: var(--lick-blue);
  font-weight: bold;
  font-family: 'Koulen', sans-serif;
  font-size: 4.5rem;
}

/*General button styling*/
.buttonStyle {
  color: var(--white);
  background-color: var(--lick-pink);
  border: none;
  padding: 0.65rem;
  border-radius: 35px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: 5px 5px 5px var(--button-shadow);
}

.buttonStyle:hover {
  cursor: pointer;
  opacity: 0.8;
}

.buttonStyle:active {
  opacity: 0.6;
}

.buttonStyle:focus {
  outline: none;
}

/*HamburgerButton styling*/
.hamburger-button {
  color: black;
  width: 4rem;
  height: 4rem;
}

.hamburger-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.hamburger-button:active {
  opacity: 0.6;
}

/*customer view screen styling*/
.weather-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

.weather-logo:active {
  opacity: 0.6;
}

.customer-header {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.carousel {
  margin: auto;
  margin-top: 1rem;
  width: 65%;
}

.carousel .slide img {
  max-height: 400px;
  width: 100%;
}

.login-header {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.login-body {
  margin-right: 20rem;
  margin-left: 60rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;;
  justify-content: space-around;
  gap: 5rem;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 4rem;
}